.main-container {
    min-height: 100vh;
    font-size: 18px;
    padding-top: 2%;
}

.overlay {
    margin: 0 auto;
}

th {
    border-radius: 2px;
    padding: 6px;
    background-color: rgba(188, 188, 188, 0.15);
    border: 1px solid rgba(188, 188, 188, 0.15);
}

.table-block {
    padding: 4px;
    border-radius: 4px;
    font-size: 16px;
}

input {
    border: 1px solid rgba(222, 222, 222, 0.35);
    min-height: 32px;
}

input, textarea {
    background-color: rgba(188, 188, 188, 0.15);
}

text {
    color: black;
}